<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- import css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="libs/materialize/css/materialize.min.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/styleResult.css"/>

    <title>Loisirs pour tous</title>
  </head>

  <body>

    <header>
      <figure id="logo" class="row">
        <a href="../index.php"><img class="col m2 push-m1"  src="../assets/img/LoisirsPourTous2.svg" alt="logo"/></a>
      </figure>
    </header>

    <main id="displayresult">

      <div id="filterHandicap" class="row">
        <form class="col m6 push-m4"  action="#" method="post">
          <label for="surdity">Auditif</label>
          <!-- <img src="../assets/img/auditif.svg" alt="accès handicap auditif"/> -->
          <input type="checkbox" class="filled-in col m2" name="surdity" value="false">
          <label for="blind">Visuel</label>
          <!-- <img src="../assets/img/visuel.svg" alt="accès handicap visuel"/> -->
          <input type="checkbox" class="filled-in col m2" name="blind" value="false">
          <label for="mental">Mental</label>
          <input type="checkbox" class="filled-in col m2" name="mental" value="false">
          <!-- <img src="../assets/img/mental.svg" alt="accès handicap mental"/> -->
          <label for="mobility">PMR</label>
          <!-- <img src="../assets/img/moteur.svg" alt="accès handicap moteur"/> -->
          <input type="checkbox" class="filled-in col m2" name="mobility" value="mobility">
          <!-- <input type="submit" value="Filter"> -->
          <button class="btn col m2 pull-m1 waves-effect waves-light" type="submit" name="envoyer" value="Filter">Envoyer</button>
        </form>
      </div>


        <div id="results" class="row">

          <div class="bloc-list col m6 s12">
            {{#item}}
            <section id="etbm{{id}}" class="card-image">
              <h2 class="etbm card-title">{{Name_Est}}</h2>

              <ul class="etbm">
                {{#H_Auditory}}
                  <li><img src="../assets/img/auditif.svg" alt="accès handicap auditif"/></li>
                {{/H_Auditory}}
                {{#H_Visual}}
                  <li><img src="../assets/img/visuel.svg" alt="accès handicap visuel"/></li>
                {{/H_Visual}}
                {{#H_Mobility}}
                  <li><img src="../assets/img/moteur.svg" alt="accès handicap moteur"/></li>
                {{/H_Mobility}}
                {{#H_Mental}}
                  <li class="mental"><img src="../assets/img/mental.svg" alt="accès handicap mental"/></li>
                {{/H_Mental}}
              </ul>

              <p>{{Address}}</p>
              <p>{{Postcode}} {{City}}</p>
              <p>Téléphone :<a href="tel:{{Phone}}">{{Phone}}</a></p>
              {{#Fax}}
              <p>Fax : {{Fax}}</p>
              {{/Fax}}
              <p>{{EMail_Contact}}</p>
              <p><strong>{{Siteweb}}</strong></p>
            </section>
             <div class="divider"></div>
            {{/item}}
          </div>
          <div id="mapid"></div>

        </div>
      </main>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

     <!--  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdg_bn1oAFaZ95_vqEYNtPD9voUR1RkdE&signed_in=true&callback=initMap"
              ></script> -->

      <script type="text/javascript">

        var mymap = L.map('mapid').setView([{{LatitudeCarte}},{{LongitudeCarte}}], 13);// definition de la map avec point de coordonnées




          /*type de "tiles" pour la map, on peut en changer (skin)*/
          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoidmljdG9yeXNoIiwiYSI6ImNpeTVzdGI4MTAwMnMyd3J2OXZ3emdkeWcifQ.T7A873FB8CceQ5KvcO943Q', {
          maxZoom: 18,
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
           '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
           'Imagery © <a href="http://mapbox.com">Mapbox</a>',
          id: 'mapbox.streets'
          }).addTo(mymap);


        {{#item}}
    /*      var popup{{id}} = L.popup({minWidth:100},{keepInView:"true"})
          .setContent("<p>{{Name_Est}}<br />This is a nice popup {{id}}</p>"); */

        var handiImg{{id}}="";

        {{#H_Auditory}}
          handiImg{{id}}+='<img src="../assets/img/auditif.svg">';
        {{/H_Auditory}}

        {{#H_Visual}}
          handiImg{{id}}+='<img src="../assets/img/visuel.svg">';
        {{/H_Visual}}

        {{#H_Mental}}
          handiImg{{id}}+='<img src="../assets/img/mental.svg">';
        {{/H_Mental}}
        {{#H_Mobility}}
          handiImg{{id}}+='<img src="../assets/img/moteur.svg">';
        {{/H_Mobility}}


          var popup{{id}} = L.popup({minWidth:100},{keepInView:"true"})

          .setContent("<div class='card'><span class='card-title'>{{Name_Est}}</span>"
                      + handiImg{{id}} +"</div>");

        var marker{{id}} = L.marker([{{Latitude}}, {{Longitude}}]).addTo(mymap);
         marker{{id}}.bindPopup(popup{{id}});

        {{/item}}

      </script>

      <footer class="row">
          <div id="rs" class="col m3 push-m1">
              <a href="#"><img id="logofb" src="../assets/img/logofb.png" alt="logo Facebook"/></a>
              <a href="#"><img id="logotwitter" src="../assets/img/logotwitter.png" alt="logo Twitter"/></a>
          </div>
          <div id="link"  class="col m2 push-m6">
              <a href="#">A propos</a>
              <a href="#">Contact</a>
          </div>
      </footer>

  </body>
</html>
